header {
  height: 70px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #cccccc;
}
header .logo {
  margin-left: 20px;
  height: 70px;
  width: 10%;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: auto;
}